<a href="https://colab.research.google.com/github/MostafaJahanian/data_analytics_experiments/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub
import os

In [2]:
path = kagglehub.dataset_download("kanchana1990/real-estate-data-london-2024")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/kanchana1990/real-estate-data-london-2024?dataset_version_number=1...

100%|██████████| 559k/559k [00:00<00:00, 1.01MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/kanchana1990/real-estate-data-london-2024/versions/1

In [3]:
data_paths = [os.path.join(path, f) for pth, dirs, files in os.walk(path) for f in files]
print(data_paths)

['/root/.cache/kagglehub/datasets/kanchana1990/real-estate-data-london-2024/versions/1/realestate_data_london_2024_nov.csv']

In [4]:
import pandas as pd
data = pd.read_csv(data_paths[0])
data

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
0,10/10/2024,"8 bedroom house for sale in Winnington Road, H...","This magnificent home, set behind security gat...",House,16749.0,8.0,8.0,new,"£24,950,000"
1,Reduced on 24/10/2024,"7 bedroom house for sale in Brick Street, Mayf...","In the heart of exclusive Mayfair, this majest...",House,12960.0,7.0,7.0,price_reduced,"£29,500,000"
2,Reduced on 22/02/2024,6 bedroom terraced house for sale in Chester S...,A freehold home that gives you everything you ...,Terraced,6952.0,6.0,6.0,price_reduced,"£25,000,000"
3,08/04/2024,6 bedroom detached house for sale in Winningto...,A magnificent bespoke residence set behind sec...,Detached,16749.0,6.0,6.0,new,"£24,950,000"
4,Reduced on 11/07/2023,8 bedroom detached house for sale in St. John'...,"With its village like ambiance, elegant regenc...",Detached,10241.0,8.0,10.0,price_reduced,"£24,950,000"
...,...,...,...,...,...,...,...,...,...
1014,Added today,3 bedroom apartment for sale in Battersea Powe...,NO STAMP DUTY This stunning penthouse apartmen...,Apartment,2601.0,3.0,4.0,new,"£6,500,000"
1015,Reduced on 11/07/2024,"6 bedroom house for sale in Winnington Close, ...",We are pleased to bring to the market for the ...,House,NaN,6.0,4.0,price_reduced,"£6,500,000"
1016,28/08/2024,"3 bedroom apartment for sale in Vicarage Gate,...","Welcome to 2 Vicarage Gate House, a sophistica...",Apartment,2508.0,3.0,3.0,new,"£6,500,000"
1017,Reduced on 12/08/2024,"3 bedroom house for sale in Chester Row, Belgr...",A fantastic opportunity to purchase an immacul...,House,NaN,3.0,3.0,price_reduced,"£6,500,000"
1018,Reduced on 27/09/2024,"4 bedroom property for sale in Hans Place, Kni...",Situated in one of London's most prestigious g...,Not Specified,3352.0,4.0,3.0,price_reduced,"£6,500,000"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   addedOn              1011 non-null   object
 1   title                1019 non-null   object
 2   descriptionHtml      1019 non-null   object
 3   propertyType         1019 non-null   object
 4   sizeSqFeetMax        869 non-null    float64
 5   bedrooms             1003 non-null   float64
 6   bathrooms            984 non-null    float64
 7   listingUpdateReason  1019 non-null   object
 8   price                1019 non-null   object
dtypes: float64(3), object(6)
memory usage: 71.8+ KB

In [6]:
data.describe(include = 'all')

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
count,1011,1019,1019,1019,869.000000,1003.000000,984.000000,1019,1019
unique,442,965,1010,21,NaN,NaN,NaN,3,232
top,05/07/2024,"5 bedroom apartment for sale in Thames City, N...",The Residences at the Mandarin Oriental offers...,Apartment,NaN,NaN,NaN,new,"£6,500,000"
freq,15,4,3,243,NaN,NaN,NaN,702,57
mean,NaN,NaN,NaN,NaN,5232.871116,5.111665,4.648374,NaN,NaN
std,NaN,NaN,NaN,NaN,11796.770144,3.264992,3.085809,NaN,NaN
min,NaN,NaN,NaN,NaN,425.000000,1.000000,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,2885.000000,3.000000,3.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,3834.000000,5.000000,4.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,5745.000000,6.000000,5.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,336989.000000,66.000000,66.000000,NaN,NaN

In [25]:
# Based on the row "count", there are numbers of missing values in 4 out of the 9 columns.
# There are values with repetition on both "title" and "descriptionHtml" columns which should be checked to see if they are duplications or not.
# The data type of the column "price" is string, and for conveniece during data analysis, it will be converted to numerical format.
# The odd thing that caught my attention is that the highest value for both "bedrooms" and "bathrooms" is equal to 66, which needs to be analyzed in correlation with
# size and price.
# The values in the column "addedOn" will also be converted to datetime format.

In [8]:
data['price'].sample(5)

979      £6,500,000
634      £8,250,000
955      £6,950,000
1014     £6,500,000
404     £10,950,000
Name: price, dtype: object

In [9]:
data['price'] = data['price'].str.replace('£', '')
data['price'] = data['price'].str.replace(',', '')
data['price'].astype(int)

ValueError: invalid literal for int() with base 10: 'POA'

In [10]:
mask = data['price'] == 'POA'
data[mask]

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
882,NaN,"Plot for sale in 10-14 Hollybush Gardens, E2 6...",• Bethnal Green is a diverse and vibrant area ...,Plot,NaN,NaN,NaN,new,POA

In [11]:
mask = data['propertyType'] == 'Plot'
data[mask]

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
25,NaN,"Plot for sale in Piccadilly, Mayfair, London, W1J",139 Piccadilly is a Grade II listed building a...,Plot,14624.0,NaN,NaN,size_change,29950000
882,NaN,"Plot for sale in 10-14 Hollybush Gardens, E2 6...",• Bethnal Green is a diverse and vibrant area ...,Plot,NaN,NaN,NaN,new,POA

In [12]:
# Convrting to integer raised an error which is caused by the value "POA".
# Searching for the rows with this attribute shows that there is only one sample, which is also has 4
# missing values.
# For tackling this problem, the "POA" will be changed to Nane, and the column will be converted to integer type.

In [13]:
data['price'] = pd.to_numeric(data['price'], errors='coerce')
data['price'].describe()

count    1.018000e+03
mean     1.129855e+07
std      6.940021e+06
min      3.150000e+05
25%      7.500000e+06
50%      9.350000e+06
75%      1.300000e+07
max      8.000000e+07
Name: price, dtype: float64

In [26]:
date_added = pd.to_datetime(data['addedOn'], infer_datetime_format = True)
date_added

<ipython-input-26-8df528483196>:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  date_added = pd.to_datetime(data['addedOn'], infer_datetime_format = True)

ValueError: time data "Reduced on 24/10/2024" doesn't match format "%m/%d/%Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [41]:
# It seems that the column "addedOn" cannot be converted to datetime format directly, as there are number of samples with extra explanation along with the date.

In [59]:
data['addedOn'].str.split(' ', expand = True)

/usr/local/lib/python3.10/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

               0      1           2
0     10/10/2024   None        None
1        Reduced     on  24/10/2024
2        Reduced     on  22/02/2024
3     08/04/2024   None        None
4        Reduced     on  11/07/2023
...          ...    ...         ...
1014       Added  today        None
1015     Reduced     on  11/07/2024
1016  28/08/2024   None        None
1017     Reduced     on  12/08/2024
1018     Reduced     on  27/09/2024

[1019 rows x 3 columns]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   addedOn              1011 non-null   object
 1   title                1019 non-null   object
 2   descriptionHtml      1019 non-null   object
 3   propertyType         1019 non-null   object
 4   sizeSqFeetMax        869 non-null    float64
 5   bedrooms             1003 non-null   float64
 6   bathrooms            984 non-null    float64
 7   listingUpdateReason  1019 non-null   object
 8   price                1018 non-null   float64
dtypes: float64(4), object(5)
memory usage: 71.8+ KB

In [16]:
# Now that all columns are in the right format, an univariate analysis will be done to see if any valuable information could be extracted from any of the columns.

In [17]:
# Univariate Analysis

<class 'str'>

In [ ]:
data['title'][0].find('for sale in ')
data['title'][0][16+len('for sale in ') : data['title'][0].find(', London')]

'Winnington Road, Hampstead'

In [ ]:
loc = []
for i in range(len(data)):
  location = data.iloc[i]['title'][data.iloc[i]['title'].find('for sale in ') + len('for sale in') : ]
  loc.append(location)

loc = pd.DataFrame(loc, columns=['Location'])
print(loc)

                                               Location
0      Winnington Road, Hampstead, London, N2, Unite...
1                    Brick Street, Mayfair, London, W1J
2                                  Chester Square, SW1W
3                                   Winnington Road, N2
4                          St. John's Wood, London, NW8
...                                                 ...
1014              Battersea Power Station, London, SW11
1015      Winnington Close, Hampstead Garden Suburb, N2
1016                          Vicarage Gate, London, W8
1017                       Chester Row, Belgravia, SW1W
1018     Hans Place, Knightsbridge, London, SW1X., SW1X

[1019 rows x 1 columns]

In [ ]:
loc['Location'][0].split(',')

[' Winnington Road', ' Hampstead', ' London', ' N2', ' United Kingdom', ' N2']

In [ ]:
import re
import random
pattern = r","
re.split(pattern, loc['Location'][0])

[' Winnington Road', ' Hampstead', ' London', ' N2', ' United Kingdom', ' N2']

In [ ]:
postal_area = []
for i in range(len(loc)):
  postal_area.append(loc['Location'][i].split(',')[-1])

postal_area = pd.DataFrame(postal_area, columns=['Postal Area'])
print(postal_area)

     Postal Area
0             N2
1            W1J
2           SW1W
3             N2
4            NW8
...          ...
1014        SW11
1015          N2
1016          W8
1017        SW1W
1018        SW1X

[1019 rows x 1 columns]